.App {
  text-align: center;
}

.carousell {
  overflow-x: scroll;
  padding-bottom: 50px;
  padding-top: 50px;
  padding-left: 10px;
  height: 550px;
  -webkit-overflow-scrolling: touch;
}

.carousell-wrapper {
  overflow: hidden;
  height: 450px;
}

.movie {
  min-width: 220px;
}

.movieimg {
  outline: 1px solid blue;
}

.body {
  width: 80%;
}

.headerWrapper {
  margin: auto;
  padding: 10px;
}
.one {
  width: 50%;
  float: left;
}
.two {
  margin-left: 50%;
}

.videoStyle{
  margin: auto;
  max-width: 100vw;
}